<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <title>Resultat SNMP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Resultat de l'operació</h1>
    <ul>
        {% if resultat %}
        {% for r in resultat %}
        <p>{{ r[0] }} = {{ r[1] }}</p>
        {% endfor %}
        {% else %}
        <p>No s'ha obtingut cap resultat.</p>
        {% endif %}
    </ul>
    <a href="/">Tornar al formulari</a>
</body>

</html>